body {
  background: #000000;
}

a, a:visited, a:enabled, a:checked, a:active {
  color: #D2D2D2;
  text-decoration: none;
  display: inline-block;
  font-size: 1.2em;
}

a:hover {
  color: #B2B2B2;
  text-decoration: none;
}

div {
  text-align: center;
}
